@model EFood.Modelos.ViewModels.CarroCompraVM
@using EFood.Utilidades
@{
    ViewData["Title"] = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <main class="mt-3 pt-2">
        <div class="container mt-5">
            <input hidden asp-for="CarroCompra.ProductoId" />
            <input hidden asp-for="CarroCompra.SesionUsuario" />
            <input type="hidden" asp-for="CarroCompra.PrecioId" id="precioIdHidden" />

            <div class="row">
                <div class="col-md-4 mb-4">
                    <img src="@DS.ImagenRuta@Model.Producto.ImagenUrl" class="img-fluid" alt="" />
                    <div class="row">
                        <a asp-action="Index" class="btn btn-outline-primary ms-1">
                            Salir
                        </a>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="p-4">
                        <div style="font-size: 20px;"><strong>Producto:</strong> @Model.Producto.Nombre</div>
                        <div style="font-size: 20px;"><strong>Descripción:</strong> @Model.Producto.Descripcion</div>

                        @if (Model.PrecioLista.Count() > 0)
                        {
                            <div class="row mt-4">
                                <div class="col-md-6">
                                    <strong>Selecciona un Precio:</strong>
                                </div>
                            </div>
                            <div class="row mt-2">
                                @foreach (var precio in Model.PrecioLista)
                                {
                                    <div class="col-md-4 mb-3">
                                        <label class="btn btn-outline-primary w-100">
                                            <input type="radio" name="PrecioId" value="@precio.Id" autocomplete="off"
                                                   onchange="document.getElementById('precioIdHidden').value = this.value;" />
                                            
                                            <div><strong>@precio.TipoPrecio.Nombre</strong></div>
                                            <div>Monto: @precio.Monto</div>
                                        </label>
                                    </div>
                                }
                            </div>
                            <div class="d-flex justify-content-left mt-2">
                                <div class="form-outline me-1" style="width: 100px;">
                                    <input type="number" asp-for="CarroCompra.Cantidad" value="1" class="form-control" id="cantidadId" />
                                </div>
                                <button type="submit" class="btn btn-primary ms-1" id="btnAgregar">
                                    Agregar al carro
                                    <i class="bi bi-cart"></i>
                                </button>
                            </div>
                        }
                        else
                        {
                            <p>No hay precios disponibles para este producto.</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </main>
</form>

@section Scripts {
    <script>
        $("#btnAgregar").click(function () {
            // Verificar si se ha seleccionado un precio
            let precioSeleccionado = $("input[name='PrecioId']:checked").val();
            if (!precioSeleccionado) {
                swal("Error", "Seleccione un precio antes de agregar al carro.", "error");
                return false;
            }

            // Verificar la cantidad
            let cantidad = $("#cantidadId").val();
            if (cantidad.toString() === '' || cantidad < 1) {
                swal("Error", "Seleccione una Cantidad positiva", "error");
                return false;
            }

            // Si pasa todas las validaciones, enviar el formulario
            $("form").submit();
        });
    </script>
}